<p-card styleClass="user-form" class="flex justify-content-center">
    <div class="card flex flex-column md:flex-row gap-3">
        <div class="card-header">
            Lista de Tareas
        </div>
<div class="card-body">

    <div class="p-toolbar-group-end">

        <p-button class="mr-2" size="small"
        (onClick)="cambiarOrden('nombre')"
        label = "Por nombre"
        icon = "pi pi-sort"
        styleClass="p-button-secondary"
        >
        </p-button>
        <p-button class="mr-2" size="small"
        (onClick)="cambiarOrden('prioridad')"
        label = "Por prioridad"
        icon = "pi pi-sort"
        styleClass="p-button-secondary">
        </p-button>
        <p-button class="mr-2" size="small"
        (onClick)="cambiarOrden('estado')"
        label = "Por estado"
        icon = "pi pi-sort"
        styleClass="p-button-secondary">
        </p-button>
        

    </div>
    <div class="row p-2">
        <p-table #dt [value]="tareas | ordenar:ordenarParam" responsiveLayout="scroll"
            dataKey="numCorrelativo" [rows]="10" [paginator]="true" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5,10,15,20]"
            [paginator]="true" [lazy]="false"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
           >

            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" maxlength="21"
                            
                            style="width:auto" placeholder="Filtro por Tarea" />
                        <!--(input)="dt.filterGlobal($any($event.target ).value, 'contains')"-->                            
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th style="width:3%">&Iacute;tem</th>
                    <th pSortableColumn="numPci">N° Tarea
                        <!--<p-sortIcon field=""> </p-sortIcon>-->
                    </th>
                    <th pSortableColumn="desMotivoViaje">Nombre de la Tarea
                        <!--<p-sortIcon field=""></p-sortIcon>-->
                    </th>
                    <th pSortableColumn="nroDocAsociado">Responsable
                        <!--<p-sortIcon field=""></p-sortIcon>-->
                    </th>
                    <th pSortableColumn="desPaisPlaca">Descripcion de la Tarea
                        <!--<p-sortIcon field=""></p-sortIcon>-->
                    </th>
                    <th pSortableColumn="nomPlaca">Fecha de Inicio
                        <!--<p-sortIcon field=""></p-sortIcon>-->
                    </th>
                    <th pSortableColumn="nomPlacaCarreta">Fecha de Fin
                        <!--<p-sortIcon field=""></p-sortIcon>-->
                    </th>
                    <th pSortableColumn="desFlujoVehiculo">Prioridad
                        <!--<p-sortIcon field=""></p-sortIcon>-->
                    </th>
                    <th pSortableColumn="tipoControl.desDataCat">Estado
                        <!--<p-sortIcon field=""></p-sortIcon>-->
                    </th>
                    <th pSortableColumn="fecInicioControl">Semaforo
                        <!--<p-sortIcon field=""></p-sortIcon>-->
                    </th>  
                    <th pSortableColumn="fecInicioControl">Acciones
                        <!--<p-sortIcon field=""></p-sortIcon>-->
                    </th>                   
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-tarea let-rowIndex="rowIndex">

                <tr>
                    <td>{{ rowIndex + 1}}</td>
                    <td>{{ tarea.idTarea}}</td>
                    <td>{{ tarea.nombre}}</td>
                    <td>{{ tarea.responsable}}</td>
                    <td>{{ tarea.descTarea}}</td>
                    <td>{{ tarea.fechaInicio}}</td>
                    <td>{{ tarea.fechaFinal}}</td>
                    <td>{{ tarea.prioridad}}</td>
                    <td>{{ tarea.estado}}</td>   
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" 
                            width="32" height="32" 
                            fill="red"  
                            class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                    </td>    
                    <td>
                        <p-button label="Actualizar" icon="pi pi-check" />
                        <p-button label="Eliminar" icon="pi pi-trash" />
                    </td>                                    
                </tr>


            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4" class="text-center" text-align="center">No hay Registros</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
</div>
</p-card>