<p-card styleClass="user-form" class="flex justify-content-center">
    <form [formGroup]="tareaForm" (ngSubmit)='registrarTarea()' autocomplete="off" onKeyPress="if(event.keyCode == 13) event.returnValue = false;">
        <div class="card flex flex-column md:flex-row gap-3">
            <div class="card-header">
                {{title}}
            </div>
            <div class="card-body">
                <div class ="grid">
                    <div class="mb-3 row">
                        <div class="col-sm-6">
                            <label for="nombre">Nombre de Tarea</label>
                            <input type="text" 
                                pInputText 
                                formControlName="nombre" />
    
                            <span *ngIf="isValidoCampo('nombre')" 
                                class="form-text text-danger">
                                {{getFieldError('nombre')}}
                            </span> 

                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-6">
                            <label>Responsable</label>
                            <p-dropdown 
                                optionLabel="descripcion"  
                                [options]="lstResponsables" 
                                formControlName = "responsable"
                                placeholder="Seleccione" />
                        </div>
                        <span *ngIf="isValidoCampo('responsable')" 
                                class="form-text text-danger">
                                {{getFieldError('nombre')}}
                        </span> 
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-4">
                            <label for="prioridad">Prioridad</label>
                            <p-dropdown 
                                optionLabel="descripcion"  
                                [options]="lstPrioridad" 
                                formControlName = "prioridad"
                                placeholder="Seleccione" />
                            <span *ngIf="isValidoCampo('prioridad')" 
                                class="form-text text-danger">
                                {{getFieldError('nombre')}}
                        </span>
                        </div>
                         
                        <div class="col-sm-4">
                            <label for="estado">Estado</label>
                            <p-dropdown 
                                optionLabel="descripcion"  
                                [options]="lstEstado" 
                                formControlName = "estado"
                                placeholder="Seleccione" />
                                <span *ngIf="isValidoCampo('estado')" 
                                class="form-text text-danger">
                                {{getFieldError('nombre')}}
                        </span> 
                        </div>
                        
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-4">
                            <label for="fechaInicio">Fecha Inicio</label>
                            <p-calendar inputId="fechaInicio"  formControlName="fechaInicio" [(ngModel)]="date" [showIcon]="true"
                            class="p-element p-inputwrapper ng-tns-c44-5 ng-pristine ng-valid ng-star-inserted ng-touched">
                            </p-calendar>
                            <span *ngIf="isValidoCampo('estado')" 
                                class="form-text text-danger">
                                {{getFieldError('fechaInicio')}}
                        </span> 
                        </div>
                        <div class="col-sm-4">
                            <label for="fechaFinal">Fecha Fin</label>
                            <p-calendar inputId="fechaFinal" formControlName="fechaFinal" [(ngModel)]="date" [showIcon]="true"
                            class="p-element">
                            </p-calendar>
                            <span *ngIf="isValidoCampo('estado')" 
                                class="form-text text-danger">
                                {{getFieldError('fechaFinal')}}
                        </span> 
                        </div>
                    </div>
                    
                    <div class="mb-3 row">
                        <div class="col-sm-6">
                            <label for="descTarea">Descripción</label>
                            <textarea  
                                pInputTextarea  
                                formControlName="descTarea" 
                                rows="5"
                                cols="30" ></textarea>
                        </div>
                    </div>
                    <p-divider type="solid" />
                    <div class="mb-3 row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <p-button label="Registrar" type="submit"/>
                        </div>
                        <div class="col-sm-3">
                            <p-button styleClass="p-button-secondary" label="Cancelar" (onClick)="cancelar()" />
                        </div>
                    </div>
                 </div>
            </div>
            <div class="card-footer">

            </div>
        </div>

      </form>
  </p-card>

